@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-right {
  animation: slide-right 25s linear infinite;
}
.animate-slide-left {
  animation: slide-left 25s linear infinite;
}
@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Neon Glow Effect */
.glow-text {
  text-shadow: 0 0 8px #ffa500, 0 0 16px #ff7a00, 0 0 32px #ff7a00;
}

nav {
  border-bottom: 2px solid transparent;
}

/* Underline Hover Effect */
.group:hover .underline-hover {
  width: 100%;
  background-color: #ffa500;
}
