@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-right {
  animation: slide-right 25s linear infinite;
}
.animate-slide-left {
  animation: slide-left 25s linear infinite;
}
@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
